
<header >
    <div #headerElement class="header" >
        <div style="width: 10px;
        height: 100%;">
             <img #image class="image" src="../../assets/images/logo.png" />
        </div>
        <nav style="width: 712px;
        display: flex;
        justify-content: space-evenly;
        margin-right: 69px;" >
          <a >Product </a>
          <a >Solution </a>
          <a >Pricing </a>
          <button class="login" >Login</button>
          <button class="menu" >Get Started</button>
        </nav>
      </div>
</header>