/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;font: normal normal normal 25px/34px Open Sans; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*,
*:after,
*:before {
  box-sizing: border-box;
}

:root {
  --header-outer-height: 110px;
  --header-inner-height: 70px;
  --header-height-difference: calc(
    var(--header-outer-height) - var(--header-inner-height)
  );
  --header-bg: #fff;
}

h5{
    margin: 0px;
}